.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    .right{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 15px;
        .navbar__logo{
            img{
                width: 55px;
            }
        }
        .navbar__location{
            display: flex;
            gap: 10px;
        }
        .navbar__Grouping{
            display: flex;
            align-items: center;
            gap: 13px;
            .icon__down{
                font-size: 12px;
            }
        }
    }
   
}