.header{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 99;
    color: rgba(0,0,0,.56);
    .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    .right{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        .navbar__logo{
            margin-left: 5px;
            img{
                width: 45px;
            }
        }
        .border{
            width: 25px;
            rotate: (90deg);
        }
        .navbar__location{
            cursor: pointer;
            display: flex;
            gap: 13px;
            border-radius: 2px;
            padding: 11px 15px;
            transition: all 0.5s;
            background-color: rgba(238, 204, 204, 0.3);
        }
        .navbar__Grouping{
            cursor: pointer;
            transition: all 0.5s;
            padding: 11px 0;
            margin: 10px;
            border-radius: 2px;
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            gap: 13px;
            .icon__down{
                font-size: 12px;
            }
        }
        .navbar__Grouping:hover{
            background-color: rgba(238, 204, 204, 0.3);
            color: #000;
        }
        .navbar__Search{
            position: relative;
            .icon__search{
                position: absolute;
                top: 12px;
                right:12px;
                font-size: 13px;
            }
            .search{
                padding: 10px 35px 10px 0;
                font-size: 17px;
                width: 35vw;
                outline: 0;
                border: 0;
                background-color: rgba(238, 204, 204, 0.3);
                border-radius: 3px;
            }
        }
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        .navbar__btn{
           button{
            transition: all 0.5s;
            cursor: pointer;
            padding: 10px 23px;
            border: 0;
            border-radius: 3px;
            background-color: #a62626;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
           }
           button:hover{
            background-color: rgba(166, 38, 38,0.9);
           }
        }
        .navbar__Support{
            transition: all 0.5s;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 3px;
        }
        .navbar__Support:hover{
            background-color: rgba(238, 204, 204, 0.3);
            color: #000;
        }
        .navbar__chat{
            transition: all 0.5s;
            display: flex;
            gap: 10px;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 3px;
        }
        .navbar__chat:hover{
            background-color: rgba(238, 204, 204, 0.3);
            color: #000;
        }
        .navbar__profile{
            transition: all 0.5s;
            display: flex;
            gap: 10px;
            cursor: pointer;
            padding: 10px;
            border-radius: 3px;
        }
        .navbar__profile:hover{
            background-color: rgba(238, 204, 204, 0.3);
            color: #000;
        }
      
    }
   
    }
}