@use 'Variables';
.header{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    height: 64px;
    width: 100%;
    position: fixed;
    background-color:Variables.$bg-white;
    z-index: 99;
    color: Variables.$text-gray50;
    .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    .right{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 13px;
        .navbar__logo{
            margin-left: 5px;
            img{
                width: 45px;
            }
        }
        .border{
            width: 25px;
            rotate: (90deg);
        }
        .navbar__location{
            display: flex;
            align-items: center;
            cursor: pointer;
            display: flex;
            gap: 10px;
            border-radius: 2px;
            padding: 11px 15px;
            transition: all 0.5s;
            .icon__location{
                font-size: 18px !important;
            }
        }
        .navbar__location:hover{
            background-color:Variables.$bg-hover;
            color: Variables.$text-dark;
        }
        .navbar__Grouping{
            cursor: pointer;
            transition: all 0.5s;
            padding: 11px 0;
            border-radius: 2px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            gap: 10px;
            .icon__down{
                font-size: 13px ;
            }
        }
        .navbar__Grouping:hover{
            background-color:Variables.$bg-hover;
            color: Variables.$text-dark;
        }
        .navbar__Search{
            position: relative;
            margin-right: 10px;
            .icon__search{
                color: Variables.$text-muted;
                position: absolute;
                top: 12px;
                right:12px;
                font-size: 13px;
            }
            .search{
                padding: 10px 35px 10px 0;
                font-size: 17px;
                width: 35vw;
                outline: 0;
                border: 0;
                background-color: Variables.$bg-search-box;
                border-radius: 3px;
            }
            .search::-webkit-input-placeholder
            { 
                color: Variables.$text-muted;
            }
            
        }
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        .navbar__btn{
           button{
            transition: all 0.5s;
            cursor: pointer;
            padding: 11px 20px;
            border: 0;
            border-radius: 3px;
            background-color: #a62626;
            color: #fff;
            font-weight: bolder;
            font-size: 16px;
           }
           button:hover{
            background-color: rgba(166, 38, 38,0.9);
           }
        }
        .navbar__Support{
            transition: all 0.5s;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 3px;
        }
        .navbar__Support:hover{
            background-color: Variables.$bg-hover;
            color: Variables.$text-dark;
        }
        .navbar__chat{
            display: flex;
            align-items: center;
            transition: all 0.5s;
            display: flex;
            gap: 10px;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 3px;
        }
        .navbar__chat:hover{
            background-color: Variables.$bg-hover;
            color: Variables.$text-dark;
        }
        .navbar__profile{
            display: flex;
            align-items: center;
            transition: all 0.5s;
            display: flex;
            gap: 10px;
            cursor: pointer;
            padding: 10px;
            border-radius: 3px;
        }
        .navbar__profile:hover{
            background-color: Variables.$bg-hover;
            color: Variables.$text-dark;
        }
        .icon{
            font-size: 15px;
        }
      
    }
   
    }
}