@use 'Variables';
.main__body {
  font-size: 13px;
  display: flex;
  justify-content: center;
  .main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-top: 90px;
    .main__sidebar {
      max-height: 100%;
       overflow-y: auto;
      width: 21%;
      line-height: 2.8;
      position: fixed;
      right: 15px;
      .menu__sidebar {
        list-style-type: none;
        cursor: pointer;
        color: Variables.$text-dark;
        .item{
          display: flex;
          align-items:center;
          gap: 10px;
          font-size: 15px;
        }
      }
      .menu__sidebar li:hover{
        color: Variables.$bg-hover-menu;
      }
      .price__range{
        cursor: pointer;
        margin-top: 20px;
        padding: 5px 0;
        border-top: 1px solid #d2c7c7;
        border-bottom: 1px solid #d2c7c7;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 15px;
        .icon__down{
          color: Variables.$text-gray80;
        }
      }
      .Ad__status{
        cursor: pointer;
        padding: 5px 0;
        border-bottom: 1px solid #d2c7c7;
        width: 90%;
        display: flex;
        align-items: center;
        gap: 15px;
        .icon__down{
          color: Variables.$text-gray80;
        }
      }
      .relationship{
        width: 100%;
        .menu__relationship{
          display: flex;
          gap: 35px;
          flex-wrap: wrap;
          line-height: 1;
          margin-top: 25px;
          color: Variables.$text-muted;
          font-size: 12px;
          .item__menu{
            list-style-type: none;
            cursor: pointer;
            transition: all 0.5s;
          }
          .item__menu:hover{
            color: Variables.$bg-hover-menu;
          }
        }
      }
      .social__network{
        width: 90%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;
        .icon__network{
          color: Variables.$text-gray50;
          font-size: 18px;
          cursor: pointer;
          transition: all 0.5s;
        }
        .icon__network:hover{
          color:black;
        }
      }
      .logo__Standard{
        margin: 50px 0 120px 0;
        display: flex;
        justify-content: end;
        gap: 5px;
       img{
        cursor: pointer;
        width: 80px;
       }
      }
    }
    .main__card {
      font-size: 12px;
      display: flex;
      width: 79%;
      z-index: 1;
      margin-top: 40px;
      .discription{
        position: absolute;
        top: 10px;
        left: 0px;
        color: Variables.$text-gray80;
      }
      .cardList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
        border-top: 1px solid #ebd4d4;
        padding: 10px 0;
        .card {
          cursor: pointer;
          border: {
            radius: 5px;
            width: 1px;
            style: solid;
            color: lightgray;
          }
          .card__body {
            padding: 5px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            figure {
              padding: 0;
              margin: 0;
              img {
                width: 123px;
                height: 123px;
                border-radius: 5px;
              }
            }
          }
          .card__details {
            display: flex;
            flex-direction: column;
            line-height:1.8;
            .card__title {
              flex-grow: 1;
              font-size: 16px;
              font-weight: 600;
              color: black;
            }

            .card__price {
              color: gray;
            }
            .card__author {
              color: gray;
            }
          }
        }
      }
    }
  }
}
