.main__body {
  display: flex;
  justify-content: center;
  .main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-top: 100px;
    .main__sidebar {
      width: 21%;
      line-height: 2.8;
      position: fixed;
      right: 15px;
      .menu__sidebar {
        list-style-type: none;
        cursor: pointer;
        color: gray;
      }
    }
    .main__card {
      display: flex;
      width: 79%;
      z-index: 1;
      margin-top: 40px;
      .discription{
        position: absolute;
        top: 10px;
        left: 0px;
      }
      .cardList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
        border-top: 1px solid black;
        padding: 10px;
        .card {
          cursor: pointer;
          border: {
            radius: 5px;
            width: 1px;
            style: solid;
            color: lightgray;
          }
          .card__body {
            padding: 5px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            figure {
              padding: 0;
              margin: 0;
              img {
                width: 123px;
                height: 123px;
                border-radius: 5px;
              }
            }
          }
          .card__details {
            display: flex;
            flex-direction: column;
            line-height: 1.5;
            .card__title {
              flex-grow: 1;
              font-size: 18px;
              font-weight: 600;
              color: black;
            }

            .card__price {
              color: gray;
            }
            .card__author {
              color: gray;
            }
          }
        }
      }
    }
  }
}
