*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: iransan;
}

.header{
    display: flex;
    justify-content: center;
}
.container{
    width: 95%;
    display: flex;
}